$text_color: #E6DEC9;
$bg_main_color: #1F2428;
$home_bg_color: #E6DEC9;
$home_color: #131313;
$wine_bg_color: #4e1515;
$footer_color: #2b3238;


$font_primary: 'Oswald',
sans-serif;
$font_secondary: 'Quattrocento',
serif;

$gh_icon: url('../assets/GhIcon.svg');
$ld_icon: url('../assets/LdIcon.svg');
$fb_icon: url('../assets/FbIcon.svg');
$nasa_icon: url('../assets/NASALogo.svg');
$where_icon: url('../assets/WhereLogo.svg');