@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg_main_color;
  color: $text_color;
  font-size: 16px;

  @include small-screen {
    font-size: 14px;
  }
}

header {
  padding: 0 10%;
  min-height: 20vh;
  background-color: transparent;

  @include small-screen {
    padding: 0 2vh;
    text-align: center;

    img {
      width: 127px;
      height: 110px;
    }
  }

  .logo-link {
    img {
      width: 200px;
      height: 140px;

      @include small-screen {
        width: 150px;
      }
    }
  }
}

.leaflet-container {
  width: 100%;
  border-radius: 20px;
  margin: 2rem 0;
  min-height: 100vh;

  @include small-screen {
    border-radius: 0;
    min-height: 80vh;
    margin: 1rem 0;
  }
}

@keyframes flickering {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.homepage {
  background-color: $home_bg_color;
  background-image: url('../assets/TopograhyTexture.svg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  @include flexbox (unset, center);
  flex-direction: column;

  @include small-screen {
    padding: 2vh;
    @include flexbox (center, center);
  }

  h1 {
    color: $home_color;
    font-family: $font_primary;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1em;

    @include small-screen {
      font-size: 2em;
      text-align: center;
    }
  }

  .site-description {
    width: 80%;
    color: $home_color;
    font-family: $font_secondary;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 3.5em;

    @include small-screen {
      font-size: 1.5em;
      text-align: justify;
    }
  }

  .start-button {
    color: $home_color;
    font-family: $font_primary;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    color: $home_bg_color;
    letter-spacing: 2px;
    text-decoration: none;
    width: 150px;
    padding: 20px 20px;
    background-color: $bg_main_color;
    border-radius: 20px;
  }
}

.eet-menu {
  background-color: $home_bg_color;
  background-image: url('../assets/TopograhyTexture.svg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;

  @include flexbox (center, space-evenly);
  flex-direction: column;

  @include small-screen {
    padding: 2vh;
    min-height: 80vh;
    @include flexbox (center, center);
  }

  h1 {
    color: $home_color;
    font-family: $font_primary;
    font-weight: 500;
    font-size: 3em;

    @include small-screen {
      margin-bottom: 1em;
      font-size: 2em;
      text-align: center;
    }
  }

  .option-views {
    width: 100%;
    display: flex;
    @include flexbox (center, space-around);
    flex-direction: row;

    @include small-screen {
      flex-direction: column;
    }

    li {
      list-style: none;
      margin: 0 10px;
      position: relative;

      img {
        width: 400px;
        height: 250px;

        @include small-screen {
          width: 320px;
          height: 170px;
        }
      }

      .description {
        color: $text_color;
        text-align: center;
        font-family: $font_primary;
        font-weight: 500;
        font-size: 1.5em;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: .3s ease-in-out;
      }

      &:hover {
        .description {
          top: 100px;
          left: 150px;
          opacity: .9;
        }
      }

      @include small-screen {
        margin: 20px 0;
      }
    }
  }
}

.map-eonet {
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  background-color: $home_color;
  @include flexbox(center, flex-start);
  flex-direction: column;
  background-image: url('../assets/TopograhyTexture.svg');

  @include small-screen {
    padding: 0 2vh;

    .loading-animation {
      letter-spacing: 1.5px;
      font-size: 1.5em;
    }

    .error-warning {
      font-size: .8em;
    }
  }

  .loading-animation-eonet {
    font-family: $font_primary;
    font-size: 1.8em;
    letter-spacing: 2px;
    margin: 2vh auto;
    animation: flickering 2500ms infinite;
  }

  .error-warning-eonet {
    font-family: $font_primary;
    color: #be3737;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 2vh auto;
  }

  .event-description {
    font-family: $font_secondary;
    font-size: 1.2em;
    text-align: center;
    margin: 2vh auto;
  }
}

.map-iss {
  background-color: $wine_bg_color;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  @include flexbox(center, flex-start);
  flex-direction: column;
  background-image: url('../assets/TopograhyTexture.svg');

  @include small-screen {
    padding: 0 2vh;

    .loading-animation-iss {
      letter-spacing: 1.25px;
      font-size: 1em;
    }

    .iss-info {
      font-size: .5em;
    }
  }

  .animation-box {
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 2vh;

    .loading-animation-iss-ghost {
      font-size: 1.8em;
      opacity: 0;
      margin: auto;
    }

    .loading-animation-iss {
      font-family: $font_primary;
      color: text_color;
      font-size: 1.8em;
      letter-spacing: 2px;
      animation: flickering 2500ms infinite;
    }
  }

  .iss-info {
    font-family: $font_primary;
    color: $text_color;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 2vh auto;
    text-align: center;
  }
}

footer {
  padding: 5vh 10%;
  background-color: $footer_color;
  min-height: 20vh;

  @include small-screen {
    padding: 2vh;
  }

  .footer-section {
    @include flexbox(center, space-between);
    flex-direction: row;

    @include small-screen {
      flex-direction: column;

      img {
        max-width: 100px;
        margin-bottom: 3vh;
      }

      .contact-info {
        margin-bottom: 5vh;
      }

      .api-info {
        margin-bottom: 3vh;
      }
    }

    img {
      max-width: 200px;
    }

    .contact-info {
      @include flexbox(center, space-around);
      flex-direction: row;

      li {
        list-style: none;
        margin: 0 20px;

        span {
          display: block;
          width: 40px;
          height: 40px;
          background-position: center;
          background-repeat: no-repeat;
        }

        .github {
          background-image: $gh_icon;
          width: 55px;
          height: 25px;
        }

        .linked {
          background-image: $ld_icon;
        }

        .facebook {
          background-image: $fb_icon;
        }
      }
    }

    .api-info {
      @include flexbox(flex-start, center);
      flex-direction: column;

      h3 {
        margin-bottom: 20px;
        font-family: $font_primary;
        font-weight: 400;
        font-size: .8em;
        letter-spacing: 2px;
      }

      .api-links {
        width: 100%;
        @include flexbox(center, space-around);

        li {
          list-style: none;

          .nasa {
            display: block;
            justify-content: center;
            background-image: $nasa_icon;
            background-position: center;
            background-repeat: no-repeat;
            width: 60px;
            height: 15px;
          }

          .where {
            display: block;
            justify-content: center;
            background-image: $where_icon;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 85px;
            height: 35px;
          }
        }
      }
    }
  }
}